.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Police globale pour tout le site */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; /* Corps normal */
  line-height: 1.6;
}

/* Titres (h1, h2, h3, etc.) en 600 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

/* Balises <strong> en 600 */
strong {
  font-weight: 600 !important;
}

.navbar-nav .nav-link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
}



/* NAVBAR */

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link.active {
  font-weight: bold !important;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}


/* HOME */

.btn-primary:hover, .btn-info:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}



/* SERVICES */

.service-card {
  transition: all 0.3s ease;
}

.service-card:hover {
  background-color: #f8f9fa !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-5px);
}



/* PORTFOLIO */

.portfolio-card {
  transition: all 0.4s ease;
  background-color: white !important;
}

.portfolio-card:hover {
  background-color: #f8f9fa !important;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-10px);
}

.portfolio-btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  transition: all 0.3s ease;
}

.portfolio-btn:hover {
  background-color: #4d88ff !important;
  border-color: #4d88ff !important;
  box-shadow: 0 4px 15px rgba(13, 110, 253, 0.4);
}



/* CONTACT */

.contact-btn {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #0a58ca !important;
  border-color: #0a58ca !important;
  box-shadow: 0 4px 15px rgba(10, 88, 202, 0.4);
}



/* FOOTER*/

.social-icon {
  color: #6c757d;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: white;
}

.footer-link {
  transition: font-weight 0.3s ease;
  font-weight: normal;
}

.footer-link:hover {
  font-weight: bold;
  color: white !important;
}



/* IMAGES */


img {
  max-width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}